/* If you want to add your own CSS code, please do it in this file */

/*
     FILE ARCHIVED ON 08:11:35 Sep 06, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:25 May 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.639
  exclusion.robots: 0.183
  exclusion.robots.policy: 0.174
  esindex: 0.01
  cdx.remote: 7.048
  LoadShardBlock: 47.125 (3)
  PetaboxLoader3.datanode: 113.009 (6)
  load_resource: 163.977 (2)
  PetaboxLoader3.resolve: 71.009 (2)
  loaddict: 31.248
*/